.filters {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.search-container {
    position: relative;
    width: 100%;
    max-width: 600px;
}

.search-input {
    width: 100%;
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius: 0;
    background-color: transparent;
    transition: border-color 0.3s ease;
    padding-right: 40px;
}

.search-input:focus {
    outline: none;
    border-bottom-color: #96B6C5;
}

.options-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 600px;
}

.filter-group {
    display: flex;
    justify-content: start;
}

.primary-filters {
    flex-grow: 1;
}

.secondary-filters {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.select-container {
    position: relative;
}

.filter-button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: none;
    border: none;
    padding: 12px 4px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #000;
}

.filter-text {
    margin-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.select-icon,
.lightbulb-icon,
.reset-button svg {
    width: 36px;
    height: 36px;
    transition: all 0.3s ease;
    border: 2px solid;
    border-radius: 50%;
    padding: 6px;
}

.select-icon {
    fill: #96B6C5;
    border-color: #96B6C5;
}

.lightbulb-icon,
.reset-button svg {
    fill: #ccc;
    border-color: #ccc;
}

.select-container:hover .select-icon,
.show-titles-btn:hover .lightbulb-icon,
.reset-button:hover svg {
    fill: #96B6C5;
    border-color: #96B6C5;

}

.show-titles-btn,
.reset-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lightbulb-icon.on {
    fill: #96B6C5;
    border-color: #96B6C5;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 10;
    max-height: 200px;
    overflow-y: auto;
    min-width: 150px;
    width: 100%;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none;
}

.dropdown.open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: left;
    background: none;
    border: none;
    cursor: pointer;
    color: #000;
    transition: background-color 0.3s ease;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}

.clear-search-button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.clear-search-button svg {
    width: 20px;
    height: 20px;
    fill: #96B6C5;
}

@media (max-width: 768px) {
    .options-container {
        flex-direction: row;
        align-items: stretch;
        gap: 10px;
    }

    .filter-group {
        flex-direction: column;
        width: 50%;
    }

    .primary-filters,
    .secondary-filters {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .secondary-filters {
        align-items: flex-end;
    }

    .select-container,
    .show-titles-btn,
    .reset-button {
        width: auto;
    }

    .filter-button {
        width: 100%;
        justify-content: flex-start;
        padding: 10px;
    }

    .show-titles-btn,
    .reset-button {
        width: auto;
        justify-content: flex-end;
        padding: 10px;
    }

    .select-icon {
        margin-right: 10px;
    }

    .lightbulb-icon,
    .reset-button svg {
        margin-left: 0;
        margin-right: 0;
    }
}

